body{
    background-color: rgb(235, 230, 215);
}


footer {
  background-color:  rgba(107, 88, 29, 0.493);
  color: #fff;
  text-align: center;
  padding: 15px 0;
  font-family: 'Segoe UI', sans-serif;
  margin-top: 50px;
  width: 100%;
}

footer .social-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 8px;
}

footer .social-links a:hover {
  text-decoration: underline;
  color: #6a9fb5;
}
