


/* כותרת עליונה */
.titl_box {
  background-image: url("/images/img1.jpg"); 
  background-position: center; 
  background-size: cover; 
  height: 500px; 
  display: flex; 
  flex-direction: column; 
   justify-content: center; 
   align-items: center; 
  text-align: center;
  color: white;
  position: relative;
  font-size: 50px;
  margin-top: 60px;
} 


#title{
       color: white; 
   font-family: 'Segoe UI', sans-serif;
  position: relative;
  font-size: 100px;
  margin-bottom: 0;
}

#sub_title{
  color: white; 
  font-family: 'Segoe UI', sans-serif;
  position: relative;
  font-size: 20px;
  margin-top: 10px; 
}

#description{
    margin-top: 20px;
    text-align:right;
    font-size: 25px;
    font-family: 'Segoe UI', sans-serif;
}


/* ======= גלריית תמונות - רספונסיבית ======= */
.gallery{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 20px;
  flex-wrap: wrap; 
}

figure {
  width: calc(33.33% - 15px); 
  margin: 10px 0;
  border-radius: 10px;
  overflow: hidden;
}

figure img{
    transition: transform 1.2s ease-in-out,filter 1.2s ease-in-out;
    width: 100%;
    height: 300px; 
    object-fit: cover; 
    border-radius: 10px;

}

figure:hover img{
 transform: scale(1.08);
 filter: brightness(1.15);
 cursor: pointer;
}

figcaption {
  text-align: center;
  margin-top: 10px;
  font-size: 1.75em;
  color: #000;
  background: linear-gradient(to top, #f9f9f9, #fff);
  color: #444;
  font-weight: 700;
  
}

figure a{
  text-decoration: none;
}


#video-container {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
video{
    border-radius: 10px;
    width: 90%; 
    height: auto;
}

/* ======================================= */
/* ====== רספונסיביות - טאבלט (עד 768px) ====== */
/* ======================================= */
@media screen and (max-width: 768px) {
    .titl_box {
  
        margin-top: 70px; 
        margin-left: 0;
        margin-right: 0;
       
    }
    html, body {
    margin: 0;
    padding: 0;
    width: 100%;
   
    overflow-x: hidden; 
}
    #title {
        font-size: 80px; 
    }
    figure {
        width: calc(50% - 15px); 
    }
}

/* ======================================= */
/* ======= רספונסיביות - מובייל (עד 500px) ======= */
/* ======================================= */
@media screen and (max-width: 500px) {
    #title {
        font-size: 50px; 
    }
    figure {
        width: 90%; 
    }
    figure img{
        height: 250px;
    }
}